body{
    overflow-x: hidden;
}
header {
    position: sticky;
    top: 0;
    z-index: 30;
  }
.nav-item {
    padding: 0 5px;
    border-radius: 20px;
  }
  
.nav-item:hover {
    background-color: bisque;
  }
.form {
    text-align: center;
  }
  .form label {
    display: block;
    padding: 3px;
    font-style: italic;
  }
  .form input {
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 7px;
    transition: 1.5s;
  }
  .form input:focus {
    background-color: #80808059;
  }
  .modal-footer .register {
    border: #198754 1px solid;
    border-radius: 5px;
    padding: 10px 18px;
  }
  .modal-footer .register:hover {
    background-color: #198754;
  }

.imagem-celular img{

    width: 100vw;
}

#lidobootstrap{
    list-style-type: none;
    
}

.nav-corescura{
    color: black;
}


/* -> o menu dropdown para navegar nas outras paginas somem abaixo desse 975px */

.descricoes-galaxy-z-fold{
    margin-left: 20px;
    align-content: center;
}

.descricoes-galaxy-z-fold p{
    width: 70%;
    padding-left: 100px;
}



.botao-mais-largo{

    width: 500px;
    margin-left: 100px;

}

/* Incio -> style do texto dentro de uma imagem */
.container {
    position: relative;
    
  }
  
  #texto {
    position: absolute;
    font-size: 45px;
    left: 50%;
    top: 200px;
    color: white;
  }

  @media (max-width:1000px) {

    #texto {     
        top: 150px;
        left: 20px;
        font-size: 35px;
    }

}

@media (max-width:450px){
    #texto{
        font-size: 15px;
    }
}
/* Fim -> style do texto dentro de uma imagem */
@media (min-width: 1800px){
    #texto{
        
        left: 50%;
        top: 300px;
        font-size: 80px;
    }
}

@media (max-width: 700px){
    .descricoes-galaxy-z-fold{
        display: inline;
        
    } 
    .descricoes-galaxy-z-fold p{
        padding: 0;
        width: auto;
    }
}