@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes fundinho {
    0%{
        background: #22577A;
    }
    25%{
        background: #38A3A5;
    }
    50%{
        background: #57CC99;
    }
    75%{
        background: #80ED99;
    }
    100%{
        background: #22577A;
    }
}
.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    animation: fundinho 5s ease infinite;
}
form{
    display: flexbox;
    width: 40vw;
    text-align: center;
}
fieldset{
    border: none;
    border-radius: 5px;
    background-color: #ffffff6b;
    margin-bottom: 6px;
}
fieldset div label{
    display: inline;
    padding: 3px;
}
fieldset select{
    width: 11vw;
    opacity: 0.8;
    border-radius: 4px;
    height: 24px;
}
fieldset select option{
    font-family: 'Stick No Bills', sans-serif;
    font-size:18px;
    font-style: italic;
    font-weight: 500;
}
fieldset select:hover{
    transform: scale(1.2);
}
legend{
    text-align: center;
    color: #ffffff;
}
legend::first-letter{
    font-size: 140%;
}
label{
    display: block;
    font-size:18px;
    font-style: italic;
    font-weight: 500;
    font-family: 'Stick No Bills', sans-serif;}
input{
    border: 1px solid;
    height: 24px;
    border-radius: 3px;
    opacity: 0.8;
}
input:hover{
    transform: scale(1.2);
}
.buttons :nth-child(1), :nth-child(2){
    border: none;
    border-radius: 4px;
    padding: 6px 18px;
    font-family: 'Stick No Bills', sans-serif;
    font-size:16px;
}
.buttons :nth-child(1):hover{
    background-color: rgb(255, 1, 1);
}
.buttons :nth-child(2):hover{
    background-color: rgb(115, 255, 1);
}